.mained {
    padding: 1rem;
    text-Align: center;
     margin-Top: 50px;
}

.images {
    max-Width: 400px;
    margin: 20px 0;
    float: left;
    width: 50%;
    margin: 15% 0 0 5%;
}


.links {
    color: white; 
    background: #1d1f1d;
    padding: 10px 20px; 
    border-Radius: 8px;
    text-Decoration: none;
}


img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
body {
    background-color: #fff;
    color: #2E2F30;
    font-family: sans-serif;
    margin: 0;
}